<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{% block title %} Faculty Sign Up {% endblock %}</title>
        <style>
            body {
                display: flex;
                justify-content: center; /* Centers horizontally */
                align-items: center;    /* Centers vertically */
                height: 100vh;          /* Makes the body take the full viewport height */
                margin: 0;
            }

            .container {
            text-align: center;      /* Centers text inside the container */
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Sign Up Page For Faculty</h1>
            {% load crispy_forms_tags %}
            <form method="POST" class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Create Account</button>
            </form>
            <p>Already have an account? <a href="/faculty-login">Login page</a></p>
        </div>
    </body>
</html>

