<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>CSN Exam Registration</title>
    </head>
    <body>
        <h1>Welcome to the CSN Exam Registration site!</h1>
        <h2>Account details</h2>
        <p>First name: </p>
        <input type="text">
        <p>Last name: </p>
        <input type="text">
        <p>Login: </p>
        <input type="text">
        <p>Password: </p>
        <input type="text">
        <a href="">
            <button type="button">Create Account</button>
        </a>
    </body>
</html>